<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<dict>
			<key>name</key>
			<string>Trending_1</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trending_2</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trending_3</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trending_4</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trending_5</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trending_6</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trending_7</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Trending_8</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_11</string>
			<key>categoryID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_1</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_2</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_3</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_4</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_5</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_6</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_7</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_8</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Holiday_9</string>
			<key>categoryID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>People_1</string>
			<key>categoryID</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>People_2</string>
			<key>categoryID</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>People_3</string>
			<key>categoryID</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>People_4</string>
			<key>categoryID</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>People_5</string>
			<key>categoryID</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>People_6</string>
			<key>categoryID</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>People_7</string>
			<key>categoryID</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_1</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_2</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_3</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_4</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_5</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_6</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_7</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_8</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_9</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food_10</string>
			<key>categoryID</key>
			<string>3</string>
		</dict>
	</array>
</dict>
</plist>
