<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PaintColor</key>
	<array>
		<dict>
			<key>hex</key>
			<string>ic_delete</string>
			<key>number</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>C11ADB</string>
			<key>number</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>6049FE</string>
			<key>number</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>24DDC9</string>
			<key>number</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>35EA64</string>
			<key>number</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>FF7C60</string>
			<key>code</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>F74747</string>
			<key>number</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>EA1717</string>
			<key>number</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>B50101</string>
			<key>number</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>390122</string>
			<key>number</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>097564</string>
			<key>number</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>0DA890</string>
			<key>number</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>B4780E</string>
			<key>number</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>27D9BD</string>
			<key>number</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>30B653</string>
			<key>number</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>DA654C</string>
			<key>number</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>hex</key>
			<string>B23232</string>
			<key>number</key>
			<integer>16</integer>
		</dict>
	</array>
</dict>
</plist>
